.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.SUCCESS {
  color: #366d60;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}
